.icon-chevron {
    display: inline-block;
    vertical-align: middle;
    color: currentColor;
}

.icon-chevron--bold {
    /* Slightly larger hit visual, stroke uses currentColor */
}

.back .icon-chevron {
    /* ensure back buttons preserve spacing */
    display: inline-block;
}

.icon-chevron-img {
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

.icon-chevron--flip {
    transform: scaleX(-1);
}